@model Employee.Models.AddStaffViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Добавление нового сотрудника</h1>

@using (Html.BeginForm("AddStaff", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label for="FirstName" class="control-label">Фамилия сотрудника:</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="LastName" class="control-label">Имя сотрудника:</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="MiddleName" class="control-label">Отчество сотрудника:</label>
        <input asp-for="MiddleName" class="form-control" />
        <span asp-validation-for="MiddleName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Age" class="control-label">Возраст</label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>

<div class="form-group">
        <label for="PositionId" class="control-label">Код должности:</label>
        <input asp-for="PositionId" class="form-control" />
        <span asp-validation-for="PositionId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Description" class="control-label">Краткое описание:</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Experience" class="control-label">Опыт работы:</label>
        <input asp-for="Experience" class="form-control" />
        <span asp-validation-for="Experience" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="PhotoFile" class="control-label">Фотография</label>
        <input asp-for="PhotoFile" type="file" class="form-control" />
        <span asp-validation-for="PhotoFile" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="PhoneNumber" class="control-label">Номер телефона:</label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="PassportData" class="control-label">Паспортные данные:</label>
        <input asp-for="PassportData" class="form-control" />
        <span asp-validation-for="PassportData" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="PositionId" class="control-label">Код должности:</label>
        <input asp-for="DivisionId" class="form-control" />
        <span asp-validation-for="DivisionId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="BirthDate" class="control-label">Дата рождения:</label>
        <input asp-for="BirthDate" type="date" class="form-control" />
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="DocumentFile" class="control-label">Документ:</label>
        <input asp-for="DocumentFile" type="file" class="form-control" />
        <span asp-validation-for="DocumentFile" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="HiringDate" class="control-label">Дата найма:</label>
        <input asp-for="HiringDate" type="date" class="form-control" />
        <span asp-validation-for="HiringDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
}